html, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    color: #fff;
    line-height: 1.33em;
    font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;
}

html {
    box-sizing: border-box
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 300;
    vertical-align: baseline;
    color: #000;
    background-color: #fff;
}

main {
    width: 100%;
    max-width: 960px;
    padding: 0;
    margin: 0 auto;
    padding-top: 60px;
}

h1 {
    font-weight: bold;
    margin: 10px auto -5px;
    font-size: 56px;
}
